.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  color: var(--secondary-color);
  font-size: 1.125rem;
}

.loader span {
  animation: pulse 1.4s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
